
<div class={{class}}>
    <div class="review__avatar"></div>
    <div class="review__content">
        <div class="review__header">
            <p class="review__name">{{name}}</p>
            {{> ./../rating/rating}}
        </div>
        <p class="review__message">{{message}}</p>
    </div>
</div>