@import 'components/layout/styles.scss';
@import 'components/navigation/styles.scss';
@import './vars';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: var(--text-color);
}

#root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h1 {
    font-size: 36px;
    line-height: 36px;
}

.h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.main {
    height: 100%;
    flex: 1 0 auto;
    background-image: url(./../img/bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
