<label class="input">
    <input type={{type}} name={{name}} class="input__control" placeholder={{placeholder}} required>
    <span class="input__error"></span>
    <span class="input__label">{{label}}</span>
</label>