<div class="rating">
    <div class="star active"></div>
    <div class="star active"></div>
    <div class="star active"></div>
    <div class="star active"></div>
    <div class="star active"></div>
</div>