<form class="form" noValidate>
    <h2 class="h2">Форма регистрации</h2>  
    {{> ./../input/input name="name" label="Имя" placeholder="Input_text" type="text"}}
    {{> ./../input/input name="secomd_name" label="Фамилия" placeholder="Input_text" type="text"}}
    {{> ./../input/input name="email" label="Email" placeholder="Email" type="email"}}
    {{> ./../button/button class="button"}}
</form>